/* src/components/LoadingSpinner.css */
.loading-spinner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .spinner {
    border: 8px solid var(--background-color);
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  .loading-spinner p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--text-color);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }