.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: all;
}

.loading-container {
    min-width: 20%;
    color: var(--text-color);
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
}

.progress {
    height: 10px;
    background-color: #3498db; 
    border-radius: 5px;

    transition: width 0.05s ease;
}

.loading-header {
    font-size: 1.2em;
    margin-bottom: 10px; 
}

.loading-footer {
    margin-top: 10px;
    font-size: 0.9em;
}
